{% extends 'layout.html' %}

{% block title %}Edit Expense{% endblock %}

{% block content %}
<h3>Edit Expense:</h3>

<div class="add_expense">
<form action="{{ url_for('execute_edit_expense') }}" method="POST">
    <input type="hidden" name="report_id" 
    id="report_id" value="{{ report['id'] }}" >

    <input type="hidden" name="expense_id" 
    id="expense_id" value="{{ expense['id'] }}" >
    
    <div class="form-group">
    <label for="type">
        <i class="fas fa-object-group"></i>
    </label>
    <select name=type>
        {% for expense_type in expense_types %}
            <option value="{{expense_type['type']}}" 

            {% if expense_type['type'] == expense['type'] %}
                selected = "selected"
            {% endif %}
            >{{expense_type['type']}}</option>
        {% endfor %}
    </select>
    </div>

    <div class="form-group">
    <label for="location">
        <i class="fas fa-city"></i>
    </label>
    <input type="text" name="location" placeholder="Location" 
        id="location" value="{{ expense['location'] }}" required>
    </div>

    <div class="form-group">
    <label for="amount">
        <i class="fas fa-money-bill"></i>
    </label>
    <input type="text" name="amount" placeholder="Amount" 
        id="amount" value="{{ expense['amount'] }}" required>
    </div>

    <label for="currency">
        <i class="fas fa-dollar-sign"></i>
    </label>
    <select name=currency>
        {% for currency in currencies %}
            <option value="{{currency['ccy']}}" 
            {% if currency['ccy'] == expense['currency'] %}
                selected = "selected"
            {% endif %}
            >{{currency['ccy']}}</option>
        {% endfor %}
    </select>

    <div class="form-group">
    <label for="purpose">
        <i class="fas fa-puzzle-piece"></i>
    </label>
    <input type="text" name="purpose" placeholder="Purpose" id="purpose" 
        value="{{ expense['purpose'] }}" required>
    </div>

    <input type="submit" value="Update Expense"/>
  </form>
  </div>

{% endblock %}